@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Exo 2", sans-serif;
    font-style: italic;
}

body{

    background-image: url('https://static.vecteezy.com/system/resources/previews/002/597/340/original/dark-black-hexagon-pattern-on-red-orange-neon-abstract-background-in-technology-style-modern-futuristic-geometric-shape-web-banner-design-you-can-use-for-cover-template-poster-illustration-vector.jpg');
}


#logTitle{
    font-size: 65px;
    font-weight: bold;
    background-image: linear-gradient(to right, #D00000 30%, #E85D04 50%, #FFBA08 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



#forgotLabel{
    color:#FFBA08;
}

p{
    color: white;
    font-weight: 300;
    line-height: 1px;
    padding-bottom: 15px;
   
}

#logTitle, p{
    text-align: center;
}

#emailLabel, #passwordLabel{
    color:#D00000;
    font-size: 18px;
}

#button{
 
    background-image: linear-gradient(to right, #D00000 20%, #FFBA08 80%);
    font-size: 18px;
    font-weight: 600;
}

#button:hover, #forgotLabel:hover{
    filter: brightness(125%);
  }


