.form {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 15px 0;
}

.form label {
  display: block;
  text-align: center;
  margin-bottom: 8px;
}

.formCard {
  border: 2px solid black;
  padding: 30px 5vw;
  margin-top: 50px;
  margin-bottom: 50px;
}
