.form {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.form label {
  display: block;
  text-align: center;
  margin-bottom: 8px;
}

#formCard {
  padding: 20px 7vw;
  margin-top: 50px;
  margin-bottom: 50px;
}

#registerTitle {
  font-size: 65px;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #d00000 30%,
    #e85d04 50%,
    #ffba08 70%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
#registerSubheading {
  text-align: center;
  margin-bottom: 30px;
}

.form p {
  color: white;
  font-weight: 300;
  line-height: 1px;
  padding-bottom: 15px;
}
