#loginBody {
  display: flex; /* establish flex container */
  flex-direction: column; /* stack flex items vertically */
  justify-content: center; /* center items vertically, in this case */
  height: 100vh;
  width: 100vw;
  align-items: center; /* center items horizontally, in this case */
}
