

#logo{
    font-size: 45px;
    font-weight: bold;
    background-image: linear-gradient(
    to right,
    #d00000 30%,
    #e85d04 50%,
    #ffba08 70%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:after {
    display: block;
    content: '';
    border-bottom: solid 3px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  a:hover:after {
    transform: scaleX(1);
  }
  