#logo {
  font-size: 30px;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #d00000 30%,
    #e85d04 50%,
    #ffba08 70%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#nav a {
  color: #969595;
}
