.container{
    width: 100%;
    align-items: center;
    height: 20%;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user-info{
    content-align: center;
}